body {
    background-color: #080B12;
    font-family: 'Luminary';
}

div {
    margin: 0 auto;
    text-align: center;
}

h3 {
    padding-top: 10px;
    color: white;
    margin: 0 auto;
    text-align: center;
}

table {
    margin: 50px auto;
    border-spacing: 3px;
}

td {
    background-color: #097BFF;
    border-radius: 10%;
    color: white;
    width: 30px;
    height: 30px;
}

span {
    margin-right: 25px;
    margin-left: 25px;
}

td:hover {
    background-color: #64adff;
    cursor: pointer;
}

.revealed {
    background-color: transparent;
}

.logo {
    margin: 0 auto;
    width: 600px;
    height: 360px;
}

.timer {
    color: white;
}

.emoji:hover {
    cursor: pointer;
}


/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #64adff 0, #097BFF 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}